<div class="wrapper" style="background-color: #eee">
    <div class="page-header page-header-xs" style="background-image: url('./assets/img/login-image.jpg');">
        <div class="filter"></div>
    </div>
    <div class="container" style="padding-top: 20px; padding-bottom: 20px;">
        <div class="row">
            <div class="col-sm-4 mr-auto ml-auto">
                <img src="../../assets/img/books/B001.jpg" class="img-thumbnail img-responsive" alt="Card image cap">
            </div>
            <div class="col-sm-8 mr-auto ml-auto">
                <h1>Meluha (Telugu)</h1>
                <h3>Amish Tripati</h3>
                <h4>
                    <i class="fa fa-star"></i>&nbsp;
                    <i class="fa fa-star"></i>&nbsp;
                    <i class="fa fa-star"></i>&nbsp;
                    <i class="fa fa-star"></i>&nbsp;
                    <i class="fa fa-star-o"></i>&nbsp;
                </h4>
                <br />
                <p>Some quick example text to build on the card title and make up the bulk of the
                    card's content. Some quick example text to build on the card title and make up the bulk of the
                    card's content. Some quick example text to build on the card title and make up the bulk of the
                    card's content. Some quick example text to build on the card title and make up the bulk of the
                    card's content. Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p><br />
                <div>
                    <button type="button" class="btn btn-info btn-lg">Request</button>&nbsp;&nbsp;
                    <button type="button" class="btn btn-success btn-lg">Exchange</button>
                </div>
                <hr />
                <div id="newReview">
                    <h2>Write your review</h2>
                    <form class="contact-form">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Rating</label>
                                <div class="input-group" [ngClass]="{'input-group-focus':focus===true}">
                                    <input type="text" class="form-control" placeholder="Rating" (focus)="focus=true"
                                        (blur)="focus=false">
                                </div>
                            </div>
                        </div>
                        <label>Review</label>
                        <textarea class="form-control" rows="4" placeholder="Tell us your review..."></textarea>
                        <button class="btn btn-danger btn-lg btn-fill">Submit review</button>
                    </form>
                </div>
                <hr />
                <div id="reviews">
                    <h2>Reviews</h2>
                    <div>
                        <h4>Rajesh Kumar</h4>
                        <h5>
                            <i class="fa fa-star"></i>&nbsp;
                            <i class="fa fa-star"></i>&nbsp;
                            <i class="fa fa-star"></i>&nbsp;
                            <i class="fa fa-star"></i>&nbsp;
                            <i class="fa fa-star-o"></i>&nbsp;
                        </h5>
                        <p>Some quick example text to build on the card title and make up the bulk of the
                            card's content. Some quick example text to build on the card title and make up the bulk of
                            the
                            card's content.</p>
                    </div>
                    <div>
                        <h4>Rajesh Kumar</h4>
                        <h5>
                            <i class="fa fa-star"></i>&nbsp;
                            <i class="fa fa-star"></i>&nbsp;
                            <i class="fa fa-star"></i>&nbsp;
                            <i class="fa fa-star-o"></i>&nbsp;
                            <i class="fa fa-star-o"></i>&nbsp;
                        </h5>
                        <p>Some quick example text to build on the card title and make up the bulk of the
                            card's content. Some quick example text to build on the card title and make up the bulk of
                            the
                            card's content.</p>
                    </div>
                    <div>
                        <h4>Rajesh Kumar</h4>
                        <h5>
                            <i class="fa fa-star"></i>&nbsp;
                            <i class="fa fa-star"></i>&nbsp;
                            <i class="fa fa-star"></i>&nbsp;
                            <i class="fa fa-star"></i>&nbsp;
                            <i class="fa fa-star-o"></i>&nbsp;
                        </h5>
                        <p>Some quick example text to build on the card title and make up the bulk of the
                            card's content. Some quick example text to build on the card title and make up the bulk of
                            the
                            card's content.</p>
                    </div>
                    <div>
                        <h4>Rajesh Kumar</h4>
                        <h5>
                            <i class="fa fa-star"></i>&nbsp;
                            <i class="fa fa-star"></i>&nbsp;
                            <i class="fa fa-star"></i>&nbsp;
                            <i class="fa fa-star-o"></i>&nbsp;
                            <i class="fa fa-star-o"></i>&nbsp;
                        </h5>
                        <p>Some quick example text to build on the card title and make up the bulk of the
                            card's content. Some quick example text to build on the card title and make up the bulk of
                            the
                            card's content.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>